---
interface Props {
  reverse?: boolean;
  className?: string;
  align?: 'center' | 'start';
}

const { reverse = false, className = '', align = 'center' } = Astro.props;
const alignmentClass = align === 'start' ? 'items-start' : 'items-center';
---

<div class:list={['grid gap-12 lg:grid-cols-2', alignmentClass, className]}>
  <div class:list={[reverse && 'lg:order-2']}>
    <slot name="start" />
  </div>
  <div class:list={[reverse && 'lg:order-1']}>
    <slot name="end" />
  </div>
</div>
